<p><%= @student.first_name %><p>
<p><%= @student.last_name %> </p>
<li>
<%=link_to  "edit student", edit_student_path %>
</li>
<li>
<%=link_to  "destroy student", student_path,
data: {
				turbo_method: :delete,
				turbo_confirm: "are you sure?"
	
} %>
</li>
<li>
	<%=link_to "back",root_path %>
</li>